[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-controller-manager \
  --allocate-node-cidrs=true \
  --cluster-cidr={{ k8s_controller_cluster_cidr }} \
  --cluster-name={{ k8s_controller_cluster_name }} \
  --leader-elect=true \
  --master=http://{{ k8s_controller_internal_ip }}:8080 \
  --root-ca-file={{ k8s_controller_root_cafile }} \
  --service-account-private-key-file={{ k8s_controller_service_account_keyfile }} \
  --service-cluster-ip-range={{ k8s_controller_service_account_ip_range }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target